$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$grey: #eaeaea;
$grey-dark: #353535;
$grey-light: #f6f6f6;
$primary-light: #f2e8ff;
$green-dark: #008766;

html {
  height: 100vh;
}

header {
  nav {
    #location-bar {
      font-size: 16px;
    }

    .paragraph .reserve h1 {
      font-size: 25px;
      padding-top: 10px;
    }

    .paragraph .discover {
      font-size: 20px;
    }
  }
}

h2 {
  text-align: center;
  margin: 10px;
  margin-bottom: 0px;
  padding-top: 0px;
}

.paragraph .reserve h2 {
  padding-top: 7px;
}

#explorer-button {
  padding-bottom: 15px;
}

section {
  padding-top: 0px;

  #functioning {
    background-color: white;

    #card {
      display: flex;
      flex-direction: row;
      padding: 10px;
      justify-content: space-evenly;
    }
  }

  #restaurants {
    padding-top: 0px;
    padding-bottom: 15px;

    #card-restaurants {
      flex-flow: row wrap;
      justify-content: center;

      a {
        text-decoration: none;
      }

      .card {
        display: flex;
        flex-direction: column;
        margin: 30px 10px 30px 10px;

        .text-card {
          margin-bottom: unset;
          font-size: 18px;
        }
      }

      .card-image {
        width: 217px;
      }
    }
  }
}
