$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$grey: #eaeaea;
$grey-dark: #353535;
$grey-light: #f6f6f6;
$primary-light: #f2e8ff;
$green-dark: #008766;

header {
  nav {
    #location-bar {
      font-size: 16px;
    }

    .paragraph .reserve h1 {
      font-size: 25px;
    }

    .paragraph .discover {
      font-size: 20px;
    }
  }
}

section {
  #functioning {
    background-color: white;
    align-items: center;

    #card {
      width: 300px;

      .card-text {
        justify-content: space-evenly;
        font-size: 20px;

        figcaption {
          position: relative;
          left: -26px;
        }

        .icon {
          position: relative;
          left: -10px;
        }

        a {
          position: unset;
        }
      }
    }
  }
}

section {
  #restaurants {
    h2 {
      display: flex;
      justify-content: center;
    }

    #card-restaurants {
      flex-direction: unset;
      flex-wrap: wrap;
      justify-content: center;

      .card {
        display: flex;
        flex-direction: column;
        margin: 50px;

        .text-card {
          margin-bottom: unset;
          font-size: 18px;
        }
      }

      .card-image {
        width: 383px;
      }
    }
  }
}
