$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$grey: #eaeaea;
$grey-dark: #353535;
$grey-light: #f6f6f6;
$primary-light: #f2e8ff;

body {
  background-color: $grey-light;
}
/*header*/
.title {
  font-family: "Shrikhand", sans-serif;
}

#logo {
  width: 100%;
  position: inherit;
  display: flex;
  justify-content: center;
  height: 30px;

  #arrow {
    position: absolute;
    top: 15px;
    left: 25px;
  }
}

#image {
  img {
    width: 100%;
    object-fit: cover;
  }
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -60px;

  section {
    background-color: $grey-light;
    padding: 0px;

    #title {
      display: flex;
      padding-left: 20px;
      width: 100%;
    }

    .fa-regular {
      position: absolute;
      top: 30px;
      right: 40px;
    }

    #starters {
      display: flex;

      h4 {
        margin-left: 20px;
      }

      a {
        text-decoration: none;
        color: black;

        .card-text {
          display: flex;
          justify-content: flex-start;
          background-color: white;
          margin-bottom: 10px;
          padding-left: 10px;
          line-height: 25px;
          width: 345px;
        }
      }

      p {
      }

      .price-card {
        width: 20%;
        display: flex;
        justify-content: end;
      }
    }
  }

  #dishes {
    margin: 20px;

    a {
      text-decoration: none;

      .card-text {
        background-color: white;
        color: black;
        margin-left: 0px;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10px;
        padding-left: 10px;
        line-height: 25px;
        width: 345px;
      }
    }
  }

  #desserts {
    .desserts-card {
      h4 {
        padding-left: 20px;
      }

      a {
        text-decoration: none;
        color: black;

        .card-text {
          background-color: white;
          margin-left: 20px;
          display: flex;
          justify-content: flex-start;
          margin-bottom: 10px;
          padding-left: 10px;
          line-height: 25px;
          width: 345px;
        }
      }
    }
  }

  a {
    text-decoration: none;

    #order-button {
      display: flex;
      justify-content: center;

      input {
        background: linear-gradient(#ff79da, #9356dc);
        color: white;
        height: 60px;
        width: 210px;
        border-radius: 35px;
        font-size: medium;
        text-decoration: none;
        line-height: 60px;
        border: 0px;
        margin-top: 30px;
        margin-bottom: 40px;
        cursor: pointer;
      }
    }
  }
}
