$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$grey: #eaeaea;
$grey-dark: #353535;
$grey-light: #f6f6f6;
$primary-light: #f2e8ff;

/*header*/
.title {
  font-family: "Shrikhand", sans-serif;
}

#logo {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;

  #arrow {
    position: absolute;
    top: 15px;
    left: 25px;
  }
}

#image {
  img {
    width: 100%;
    object-fit: cover;
  }
}

main {
  display: flex;
  flex-direction: column;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  position: relative;
  top: -47px;

  section {
    background-color: $grey-light;
    padding: 0px;
    position: relative;
    top: 30px;

    #title {
      display: flex;
      padding-left: 20px;
      position: relative;
      top: -25px;
    }

    .fa-regular {
      position: relative;
      top: 27px;
      right: -86px;
    }

    #starters {
      display: flex;
      position: relative;
      top: -40px;

      h4 {
        margin-left: 20px;
      }

      a {
        text-decoration: none;
        color: black;

        .card-text {
          display: flex;
          flex-direction: row;
          background-color: white;
          margin-bottom: 10px;
          line-height: 25px;
          width: 345px;
        }
      }

      p {
        position: relative;
        left: -10px;
      }

      .price-card {
        width: 20%;
        display: flex;
        justify-content: end;
        position: relative;
        bottom: -15px;
      }
    }
  }

  #dishes {
    position: relative;
    top: -30px;
    margin: 20px;

    a {
      text-decoration: none;

      .card-text {
        background-color: white;
        color: black;
      }
    }
  }
}
