@charset "UTF-8";
body {
  background-color: #f6f6f6;
}
body .loading-spinner {
  /*création du loading-spinner*/
  border-top: 2px solid #9356dc;
  border-bottom: 2px solid #ff79da;
  border-right: 2px solid #99e2d0;
  border-left: 2px solid #99e2d0;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
  /*placement au mileu de la page*/
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#logo {
  width: 100%;
  position: inherit;
  display: flex;
  justify-content: center;
  height: 30px;
}
#logo #arrow {
  color: #353535;
  position: absolute;
  top: 15px;
  left: 25px;
}

#image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  position: relative;
  top: -50px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding-top: 20px;
}
main #title {
  font-family: "Shrikhand", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main #title h1 {
  font-size: 24px;
  margin: 0px;
  padding-left: 20px;
}
main #title .material-symbols-outlined {
  margin-right: 35px;
}
main #title .material-symbols-outlined:hover {
  cursor: pointer;
  animation: hover 0.3s forwards ease-in;
  -webkit-animation: hover 0.3s forwards ease-in;
  -o-animation: hover 0.3s forwards ease-in;
}
main .sections {
  display: flex;
  flex-direction: column;
}
main .sections section {
  background-color: #f6f6f6;
  padding: 0px;
}
main .sections section a {
  background-color: white;
  animation: slideDown 1s forwards;
  -webkit-animation: slideDown 1s forwards;
  -o-animation: slideDown 1s forwards;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
main .sections section a:nth-child(2) {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
}
main .sections section a:nth-child(3) {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
}
main .sections section a:nth-child(4) {
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
}
main .sections section a:nth-child(5) {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
}
main .sections section h4 {
  margin-left: 20px;
  font-weight: unset;
}
main .sections section #starters .starters-card {
  display: flex;
  flex-direction: column;
}
main .sections section #order-button {
  text-decoration: none;
}
main .sections section #order-button div {
  display: flex;
  justify-content: center;
}

.card {
  text-decoration: none;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card .name-card {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 30px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.card .name-card p {
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0px;
}
.card .name-card .price-card {
  margin-top: 3px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.card .name-card .price-card p {
  font-size: 15px;
}
.card .name-card .price-card p:nth-child(1) {
  text-overflow: ellipsis;
  overflow: hidden;
}
.card .check-price {
  display: flex;
  color: white;
  width: 0px;
  background-color: #99e2d0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  justify-content: space-around;
  align-items: center;
}
.card .check-price i {
  display: none;
  font-size: 20px;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0px 0px 9px 0px rgba(53, 53, 53, 0.6392156863);
}
.card:hover .check-price {
  width: 80px;
  animation: slideLeft 1s;
  -webkit-animation: slideLeft 1s;
  -o-animation: slideLeft 1s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
}
.card:hover .check-price i {
  display: block;
  -webkit-animation: spin 0.6s ease-in-out;
  animation: spin 0.6s ease-in-out;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
}

#order-button {
  display: flex;
  justify-content: center;
}
#order-button input {
  display: flex;
  justify-content: center;
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  height: 60px;
  width: 210px;
  border-radius: 35px;
  font-size: medium;
  text-decoration: none;
  line-height: 60px;
  border: 0px;
  margin-top: 30px;
  cursor: pointer;
}
#order-button input:hover {
  box-shadow: 0px 0px 6px 0px rgba(121, 113, 119, 0.2392156863);
  animation: clearing 0.5s forwards;
  -webkit-animation: clearing 0.5s forwards;
  -o-animation: clearing 0.5s forwards;
}

/*animation loader*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes slideDown {
  from {
    transform: translateY(5px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideDown {
  from {
    transform: translateY(5px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes slideLeft {
  from {
    width: 0px;
  }
  to {
    width: 80px;
  }
}
@keyframes slideLeft {
  from {
    width: 0px;
  }
  to {
    width: 80px;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
@-webkit-keyframes shadow {
  from {
    box-shadow: 0px 0px 9px 0px rgba(53, 53, 53, 0.2);
  }
  to {
    box-shadow: 0px 0px 9px 0px rgba(53, 53, 53, 0.6392156863);
  }
}
@keyframes shadow {
  from {
    box-shadow: 0px 0px 9px 0px rgba(53, 53, 53, 0.2);
  }
  to {
    box-shadow: 0px 0px 9px 0px rgba(53, 53, 53, 0.6392156863);
  }
}/*# sourceMappingURL=restaurants.css.map */