$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$grey: #eaeaea;
$grey-dark: #353535;
$grey-light: #f6f6f6;
$primary-light: #f2e8ff;
$green-dark: #008766;

nav {
  #image {
    img {
      height: 400px;
    }
  }

  #image {
    img:hover {
      cursor: pointer;
      animation: expand 0.5s forwards ease-out;
      -webkit-animation: expand 0.5s forwards ease-out;
      -o-animation: expand 0.5s forwards ease-out;
    }
  }
}

main {
  .sections {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    section {
      width: 33%;
    }
  }
}

@keyframes expand {
  to {
    height: 600px;
  }
}
