$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$grey: #eaeaea;
$grey-dark: #353535;
$grey-light: #f6f6f6;
$primary-light: #f2e8ff;
$green-dark: #008766;

main {
  .sections {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    section {
      width: 33%;

      #title {
        h1 {
          padding-left: 15px;
        }
      }

      #order-button {
        position: relative;
        right: 260px;
        bottom: -30px;
      }
    }
  }
}
