$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$grey: #eaeaea;
$grey-dark: #353535;
$grey-light: #f6f6f6;
$primary-light: #f2e8ff;

/*Général*/
body {
  margin: 0px;
  font-family: "roboto", sans-serif;
}

main {
  background-color: $grey-light;

  h1 {
    font-family: "shrikhand";
  }
}

#logo {
  width: 100%;
  position: absolute;
  top: 0;
  box-shadow: 0px -3px 6px 0px;
  display: flex;
  justify-content: center;
  height: 22px;
  padding-top: 15px;
  padding-bottom: 10px;
}

#location-bar {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  font-size: 13px;
  font-weight: bold;
  color: #404040;
  padding: 9px;

  #logo-location-bar {
    margin-right: 10px;
  }

  #location-name {
    margin-right: 15px;
  }
}

.paragraph {
  display: flex;
  flex-direction: column;
  background-color: $grey-light;

  .reserve {
    text-align: center;
    margin-block: unset;
    h1 {
      margin-bottom: 0px;
    }
  }

  .discover {
    text-align: center;
    margin-block: unset;
    margin-bottom: 15px;
    font-size: large;
  }
}

#explorer-button {
  display: flex;
  justify-content: center;
  background-color: $grey-light;
  padding: 15px 0px 50px 0px;
  text-align: center;

  a {
    background: linear-gradient($secondary, $primary);
    color: white;
    height: 60px;
    width: 230px;
    border-radius: 35px;
    font-size: medium;
    text-decoration: none;
    line-height: 60px;
  }
}

section {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 0px;

  #functioning {
    display: flex;
    flex-direction: column;

    h2 {
      margin-bottom: 0px;
      padding-left: 20px;
    }
  }

  #card {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .card-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70px;
    width: 92%;
    margin: 20px;
    border-block: 1px solid $grey-light;
    border-radius: 20px;
    background-color: $grey-light;
    align-items: center;

    figcaption {
      border: 1px solid $primary;
      height: 20px;
      width: 20px;
      text-align: center;
      border-radius: 20px;
      background-color: $primary;
      color: white;
      position: absolute;
      left: 10px;
    }

    .icon {
      position: absolute;
      left: 60px;
    }

    a {
      text-decoration: none;
      color: black;
      position: absolute;
      left: 92px;
    }
  }

  .card-text:hover {
    background-color: $primary-light;
    cursor: pointer;
  }

  .icon:hover {
    color: $primary;
  }
}

#restaurants {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  background-color: $grey-light;
  padding-left: 20px;
  padding-right: 20px;

  #card-restaurants {
    display: flex;
    flex-direction: column;

    .card {
      display: contents;
      object-fit: cover;
      box-shadow: $grey 0px 15px 20px 0px;
    }

    .new {
      position: relative;
      top: 40px;
      right: -212px;
      color: green;
      background-color: $tertiary;
      max-width: 80px;
      height: 25px;
      text-align: center;
      line-height: 23px;
      border-radius: 3px;
    }

    .card-image {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      box-shadow: $grey 0px 15px 20px 0px;
      background-color: white;
    }

    img {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      width: 100%;
      object-fit: cover;
    }

    .text-card {
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      box-shadow: rgb(126 121 121 / 25%) 0px 5px 5px 0px;
      margin-bottom: 20px;
      background-color: white;
      font-size: large;
      padding-left: 10px;
      padding-top: 10px;
      line-height: 25px;

      .restaurants-name {
        font-weight: bold;

        a {
          text-decoration: none;
          color: black;
        }
      }

      .icon-restaurants {
        height: 15px;
      }

      .fa-regular {
        position: relative;
        top: -45px;
        right: -245px;
      }

      .fa-regular:hover {
        background: linear-gradient($primary, $secondary);
        cursor: pointer;
      }
    }
  }
}

/*footer*/

footer {
  background-color: $grey-dark;
  color: white;
  padding: 20px;

  h2 {
    font-family: "shrikhand";
    padding-top: 10px;
    font-size: medium;
  }

  ul {
    padding-left: 10px;
    font-size: small;

    a {
      text-decoration: none;

      li {
        color: white;
        list-style-type: none;
      }
    }
  }
}
