@charset "UTF-8";
/*Général*/
body {
  margin: 0px;
  font-family: "roboto", sans-serif;
  background-color: white;
}
body main {
  background-color: #f6f6f6;
}
body main h1 {
  font-family: "shrikhand";
}
body h4,
body h5 {
  border-bottom: 3px solid #99e2d0;
  width: 11%;
}
body #logo {
  width: 100%;
  position: absolute;
  background-color: white;
  top: 0;
  box-shadow: 0px -10px 18px 0px;
  display: flex;
  justify-content: center;
  height: 30px;
  padding-top: 5px;
  padding-bottom: 10px;
}
body #location-bar {
  margin-top: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  font-size: 13px;
  font-weight: bold;
  color: #404040;
  padding: 15px;
}
body #location-bar #logo-location-bar {
  margin-right: 10px;
}
body #location-bar #location-name {
  margin-right: 15px;
}
body .paragraph {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}
body .paragraph .reserve {
  text-align: center;
  margin-block: unset;
}
body .paragraph .reserve h2 {
  font-size: 20px;
  margin: 0px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}
body .paragraph .discover {
  text-align: center;
  margin-block: unset;
  font-size: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
body #explorer-button {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  padding-bottom: 50px;
  text-align: center;
}
body #explorer-button a {
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  height: 55px;
  width: 220px;
  border-radius: 35px;
  font-size: medium;
  text-decoration: none;
  line-height: 55px;
}
body #explorer-button a:hover {
  background: linear-gradient(#f2e8ff, #fbb3e6);
  box-shadow: 0px 0px 0px 3px #fbb3e6;
  animation: clearing 0.5s forwards;
  -webkit-animation: clearing 0.5s forwards;
  -o-animation: clearing 0.5s forwards;
}
body section {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 0px;
}
body section #functioning {
  display: flex;
  flex-direction: column;
  background-color: white;
}
body section #functioning h2 {
  margin-bottom: 0px;
  padding-left: 20px;
}
body section #card {
  padding-top: 10px;
  padding-bottom: 10px;
}
body section .card-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 70px;
  width: 92%;
  margin: 20px;
  border-block: 1px solid #f6f6f6;
  border-radius: 20px;
  background-color: #f6f6f6;
  align-items: center;
}
body section .card-text figcaption {
  border: 1px solid #9356dc;
  height: 20px;
  width: 20px;
  text-align: center;
  border-radius: 20px;
  background-color: #9356dc;
  color: white;
  position: absolute;
  left: 9px;
}
body section .card-text .icon {
  position: absolute;
  left: 60px;
}
body section .card-text a {
  text-decoration: none;
  color: black;
  position: absolute;
  left: 92px;
}
body section .card-text:hover {
  background-color: #f2e8ff;
  cursor: pointer;
  animation: pulse 1s forwards;
  -webkit-animation: pulse 1s forwards;
  -o-animation: pulse 1s forwards;
}
body section .icon:hover {
  color: #9356dc;
}
body #restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
body #restaurants #card-restaurants {
  display: flex;
  flex-direction: column;
}
body #restaurants #card-restaurants a {
  text-decoration: none;
  color: black;
}
body #restaurants #card-restaurants a .card {
  color: black;
  display: contents;
  -o-object-fit: cover;
     object-fit: cover;
}
body #restaurants #card-restaurants .card:hover {
  cursor: pointer;
  box-shadow: 0px 0px 3px 0px rgba(148, 147, 147, 0);
  -webkit-animation: shadow 0.3s forwards ease-in;
          animation: shadow 0.3s forwards ease-in;
}
body #restaurants #card-restaurants .card-image {
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
}
body #restaurants #card-restaurants .card-image .new {
  position: absolute;
  top: 12px;
  right: 10px;
  color: #008766;
  background-color: #99e2d0;
  width: 80px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 600;
}
body #restaurants #card-restaurants img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
body #restaurants #card-restaurants .text-card {
  position: relative;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 20px;
  background-color: white;
  font-size: 15px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
body #restaurants #card-restaurants .text-card .restaurants-name {
  font-weight: bold;
}
body #restaurants #card-restaurants .text-card .restaurants-name p {
  margin: 0px;
}
body #restaurants #card-restaurants .text-card .material-symbols-outlined {
  position: absolute;
  top: 15px;
  right: 20px;
}
body #restaurants #card-restaurants .text-card .material-symbols-outlined:hover {
  cursor: pointer;
  animation: hover 0.3s forwards ease-in;
  -webkit-animation: hover 0.3s forwards ease-in;
  -o-animation: hover 0.3s forwards ease-in;
}

/*footer*/
footer {
  background-color: #353535;
  color: white;
  padding: 20px;
}
footer h2 {
  font-family: "shrikhand";
  padding-top: 10px;
  font-size: medium;
}
footer ul {
  padding-left: 0px;
  font-size: small;
}
footer ul a {
  text-decoration: none;
}
footer ul a li {
  color: white;
  list-style-type: none;
  padding-bottom: 10px;
}
footer ul a li i {
  font-size: 10px;
  width: 18px;
}

@-webkit-keyframes clearing {
  from {
    background: linear-gradient(#f2e8ff, #fbb3e6);
    box-shadow: 0px 0px 0px 3px #fbb3e6;
  }
  to {
    background: linear-gradient(#f2e8ff, #fbb3e6);
    box-shadow: 0px 0px 0px 18px #f2e8ff;
    color: #a9f3e0;
  }
}

@keyframes clearing {
  from {
    background: linear-gradient(#f2e8ff, #fbb3e6);
    box-shadow: 0px 0px 0px 3px #fbb3e6;
  }
  to {
    background: linear-gradient(#f2e8ff, #fbb3e6);
    box-shadow: 0px 0px 0px 18px #f2e8ff;
    color: #a9f3e0;
  }
}
@-webkit-keyframes pulse {
  from {
    box-shadow: 0 0 0 5px #f2e8ff;
  }
  to {
    box-shadow: 0 0 0 18px #9356dc 0, 0, 0, 0.01;
  }
}
@keyframes pulse {
  from {
    box-shadow: 0 0 0 5px #f2e8ff;
  }
  to {
    box-shadow: 0 0 0 18px #9356dc 0, 0, 0, 0.01;
  }
}
@-webkit-keyframes hover {
  from {
    background: linear-gradient(283deg, #ff79da 0%, #9356dc 100%);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    font-variation-settings: "FILL" 0;
  }
  to {
    background: linear-gradient(283deg, #ff79da 0%, #9356dc 100%);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    font-variation-settings: "FILL" 1;
  }
}
@keyframes hover {
  from {
    background: linear-gradient(283deg, #ff79da 0%, #9356dc 100%);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    font-variation-settings: "FILL" 0;
  }
  to {
    background: linear-gradient(283deg, #ff79da 0%, #9356dc 100%);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    font-variation-settings: "FILL" 1;
  }
}
@-webkit-keyframes shadow {
  to {
    border-radius: 20px;
    box-shadow: 0px 0px 9px 0px rgba(53, 53, 53, 0.6392156863);
    color: #9356dc;
  }
}
@keyframes shadow {
  to {
    border-radius: 20px;
    box-shadow: 0px 0px 9px 0px rgba(53, 53, 53, 0.6392156863);
    color: #9356dc;
  }
}/*# sourceMappingURL=style.css.map */