@charset "UTF-8";
/*Général*/
body {
  margin: 0px;
  font-family: "roboto", sans-serif;
  background-color: white;
}
body main {
  background-color: #f6f6f6;
}
body main h1 {
  font-family: "shrikhand";
}
body h4,
body h4 {
  border-bottom: 3px solid #99e2d0;
  width: 40px;
}
body #logo {
  width: 100%;
  position: absolute;
  background-color: white;
  top: 0;
  box-shadow: 0px -10px 18px 0px;
  display: flex;
  justify-content: center;
  height: 24px;
  padding-top: 16px;
  padding-bottom: 10px;
}
body #location-bar {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  font-size: 13px;
  font-weight: bold;
  color: #404040;
  padding: 15px 15px 15px 70px;
}
body #location-bar #logo-location-bar {
  margin-right: 10px;
}
body #location-bar #location-name {
  margin-right: 15px;
}
body #location-bar #location-name form input {
  border: none;
  background-color: #eaeaea;
  color: black;
}
body #location-bar #location-name form input::-moz-placeholder {
  color: black;
  font-weight: bold;
  font-family: "roboto", sans-serif;
  font-size: 13px;
}
body #location-bar #location-name form input:-ms-input-placeholder {
  color: black;
  font-weight: bold;
  font-family: "roboto", sans-serif;
  font-size: 13px;
}
body #location-bar #location-name form input::placeholder {
  color: black;
  font-weight: bold;
  font-family: "roboto", sans-serif;
  font-size: 13px;
}
body .paragraph {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}
body .paragraph .reserve {
  text-align: center;
  margin-block: unset;
}
body .paragraph .reserve h2 {
  font-size: 20px;
  margin: 0px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}
body .paragraph .discover {
  text-align: center;
  margin-block: unset;
  font-size: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
body #explorer-button {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  padding-bottom: 50px;
  text-align: center;
}
body #explorer-button a {
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  height: 55px;
  width: 220px;
  border-radius: 35px;
  font-size: medium;
  text-decoration: none;
  line-height: 55px;
  box-shadow: 0px 0px 6px 0px rgba(121, 113, 119, 0.2392156863);
}
body #explorer-button a:hover {
  box-shadow: 0px 0px 6px 0px rgba(121, 113, 119, 0.2392156863);
  animation: clearing 0.5s forwards;
  -webkit-animation: clearing 0.5s forwards;
  -o-animation: clearing 0.5s forwards;
}
body section {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 0px;
}
body section #functioning {
  display: flex;
  flex-direction: column;
  background-color: white;
}
body section #functioning h2 {
  margin-bottom: 0px;
  padding-left: 20px;
}
body section #card {
  padding-top: 10px;
  padding-bottom: 10px;
}
body section .functioning-card {
  display: block;
  text-align: center;
  height: 70px;
  margin: 20px;
  border-block: 1px solid #f6f6f6;
  border-radius: 20px;
  background-color: #f6f6f6;
  position: relative;
  min-width: 260px;
  text-decoration: none;
  color: black;
}
body section .functioning-card .functioning-step {
  background-color: #9356dc;
  color: white;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  position: absolute;
  left: -10px;
  top: 25px;
  font-size: 14px;
  line-height: 20px;
}
body section .functioning-card .functioning-text {
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
  min-width: 290px;
}
body section .functioning-card .functioning-text span {
  width: 180px;
  position: relative;
}
body section .functioning-card .functioning-text span i {
  position: absolute;
  left: -25px;
  top: 2px;
}
body section .functioning-card:hover {
  cursor: pointer;
  background-color: #f5edff;
  animation: pulse 1.5s infinite;
  -webkit-animation: pulse 1.5s infinite;
  -o-animation: pulse 1.5s infinite;
}
body section .functioning-card:hover i {
  color: #9356dc;
}
body #restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
body #restaurants #card-restaurants {
  display: flex;
  flex-direction: column;
}
body #restaurants #card-restaurants a {
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
}
body #restaurants #card-restaurants a .card {
  color: black;
  display: contents;
  -o-object-fit: cover;
     object-fit: cover;
}
body #restaurants #card-restaurants .card:hover {
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 0px rgba(148, 147, 147, 0);
  animation: shadow 0.2s forwards ease-in;
  -webkit-animation: shadow 0.2s forwards ease-in;
  -o-animation: shadow 0.2s forwards ease-in;
}
body #restaurants #card-restaurants .card-image {
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
}
body #restaurants #card-restaurants .card-image .new {
  position: absolute;
  top: 12px;
  right: 10px;
  color: #008766;
  background-color: #99e2d0;
  width: 80px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 600;
}
body #restaurants #card-restaurants img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
body #restaurants #card-restaurants .text-card {
  position: relative;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
  font-size: 15px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
body #restaurants #card-restaurants .text-card .restaurants-name {
  font-weight: bold;
}
body #restaurants #card-restaurants .text-card .restaurants-name p {
  margin: 0px;
}
body #restaurants #card-restaurants .text-card .material-symbols-outlined {
  position: absolute;
  top: 15px;
  right: 20px;
}
body #restaurants #card-restaurants .text-card .material-symbols-outlined:hover {
  cursor: pointer;
  animation: hover 0.3s forwards ease-in;
  -webkit-animation: hover 0.3s forwards ease-in;
  -o-animation: hover 0.3s forwards ease-in;
}

/*footer*/
footer {
  background-color: #353535;
  color: white;
  padding: 20px;
}
footer h3 {
  font-family: "shrikhand";
  margin-top: 0px;
  font-weight: normal;
}
footer ul {
  padding-left: 0px;
  font-size: small;
}
footer li {
  padding-bottom: 10px;
  font-size: 15px;
  list-style-type: none;
}
footer li a {
  text-decoration: none;
  color: white;
}
footer li:hover {
  font-weight: bolder;
}
footer i {
  font-size: 10px;
  width: 18px;
}

@-webkit-keyframes clearing {
  to {
    background: linear-gradient(rgba(255, 121, 218, 0.6039215686), rgba(147, 86, 220, 0.6039215686));
    box-shadow: 0px 0px 8px 0px #797177;
  }
}

@keyframes clearing {
  to {
    background: linear-gradient(rgba(255, 121, 218, 0.6039215686), rgba(147, 86, 220, 0.6039215686));
    box-shadow: 0px 0px 8px 0px #797177;
  }
}
@-webkit-keyframes pulse {
  from {
    box-shadow: 0 0 0 5px #f5edff;
  }
  to {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}
@keyframes pulse {
  from {
    box-shadow: 0 0 0 5px #f5edff;
  }
  to {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}
@-webkit-keyframes hover {
  from {
    background: linear-gradient(283deg, #ff79da 0%, #9356dc 100%);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    font-variation-settings: "FILL" 0, "opsz" 48;
  }
  to {
    background: linear-gradient(283deg, #ff79da 0%, #9356dc 100%);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    font-variation-settings: "FILL" 1, "opsz" 48;
  }
}
@keyframes hover {
  from {
    background: linear-gradient(283deg, #ff79da 0%, #9356dc 100%);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    font-variation-settings: "FILL" 0, "opsz" 48;
  }
  to {
    background: linear-gradient(283deg, #ff79da 0%, #9356dc 100%);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    font-variation-settings: "FILL" 1, "opsz" 48;
  }
}
@-webkit-keyframes shadow {
  to {
    box-shadow: 0px 0px 9px 0px rgba(53, 53, 53, 0.6392156863);
    color: #9356dc;
  }
}
@keyframes shadow {
  to {
    box-shadow: 0px 0px 9px 0px rgba(53, 53, 53, 0.6392156863);
    color: #9356dc;
  }
}/*# sourceMappingURL=style.css.map */