/*Général*/
body {
  font-family: "roboto", sans-serif;
  background-color: #ebe5e5a3;
}

main h1 {
  font-family: "shrikhand";
}

#logo {
  display: flex;
  justify-content: center;
  height: 33px;
  border: 1px solid #ebe5e5a3;
  margin-top: 10px;
  margin-bottom: 10px;

  &__images {
    width: 50%;
  }
}

#search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e3dddd;
  width: 100%;
  height: 50px;
  border-top: solid 3px #dad4d4;
  border-bottom: solid 1px #dad4d4;
}

#logo-search-bar {
  margin: 10px;
}

.paragraph {
  display: flex;
  flex-direction: column;
  background-color: #ebe5e5a3;

  .__reserve {
    text-align: center;
    margin-block: unset;
    h1 {
      margin-bottom: 0px;
    }
  }

  .__discover {
    text-align: center;
    margin-block: unset;
    margin-bottom: 15px;
    font-size: large;
  }
}

#explorer-button {
  display: flex;
  justify-content: center;
  background-color: #ebe5e5a3;
  padding: 15px 0px 50px 0px;

  input {
    background-color: #9356dc;
    border: 1px solid #9356dc;
    color: white;
    height: 60px;
    width: 230px;
    border-radius: 35px;
    font-size: medium;
  }
}

section {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;

  #functionning {
    display: flex;
    flex-direction: column;

    h2 {
      margin-bottom: 0px;
    }
  }

  #card {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .card-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70px;
    width: 92%;
    margin: 20px;
    border-block: 1px solid #ebe5e5a3;
    border-radius: 20px;
    background-color: #ebe5e5a3;
    align-items: center;

    figcaption {
      border: 1px solid #9356dc;
      height: 20px;
      width: 20px;
      text-align: center;
      border-radius: 20px;
      background-color: #9356dc;
      color: white;
      position: absolute;
      left: 18px;
    }

    .icon {
      position: absolute;
      left: 60px;
    }

    a {
      text-decoration: none;
      color: black;
      position: absolute;
      left: 92px;
    }
  }
}

#restaurants {
  display: flex;
  flex-direction: column;
  background-color: #ebe5e5a3;
  padding-top: 30px;

  #card-restaurants {
    display: flex;
    flex-direction: column;

    .card {
      display: contents;
      object-fit: cover;
      box-shadow: #7e797940 0px 15px 20px 0px;
    }

    .card-image {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      box-shadow: #7e797940 0px 15px 20px 0px;
      background-color: white;
    }

    img {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      max-width: 100%;
      max-height: 200px;
    }

    .text-card {
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      box-shadow: rgb(126 121 121 / 25%) 0px 5px 5px 0px;
      margin-bottom: 20px;
      background-color: white;
      font-size: large;

      .restaurants-name {
        font-weight: bold;

        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}

/*footer*/

footer h2 {
  font-family: "shrikhand";
}
