$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$grey: #eaeaea;
$grey-dark: #353535;
$grey-light: #f6f6f6;
$grey-medium: #cecece;
$primary-light: #9356dc9a;
$secondary-light: #ff79da9a;
$tertiary-light: #a9f3e0;
$green-dark: #008766;

/*Général*/
body {
  margin: 0px;
  font-family: "roboto", sans-serif;
  background-color: white;

  main {
    background-color: $grey-light;

    h1 {
      font-family: "shrikhand";
    }
  }

  h4,
  h4 {
    border-bottom: 3px solid $tertiary;
    width: 40px;
  }

  #logo {
    width: 100%;
    position: absolute;
    background-color: white;
    top: 0;
    box-shadow: 0px -10px 18px 0px;
    display: flex;
    justify-content: center;
    height: 24px;
    padding-top: 16px;
    padding-bottom: 10px;
  }

  #location-bar {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    font-size: 13px;
    font-weight: bold;
    color: #404040;
    padding: 15px 15px 15px 70px;

    #logo-location-bar {
      margin-right: 10px;
    }

    #location-name {
      margin-right: 15px;

      form {
        input {
          border: none;
          background-color: #eaeaea;
          color: black;
        }

        input::placeholder {
          color: black;
          font-weight: bold;
          font-family: "roboto", sans-serif;
          font-size: 13px;
        }
      }
    }
  }

  .paragraph {
    display: flex;
    flex-direction: column;
    background-color: $grey-light;

    .reserve {
      text-align: center;
      margin-block: unset;

      h2 {
        font-size: 20px;
        margin: 0px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
      }
    }

    .discover {
      text-align: center;
      margin-block: unset;
      font-size: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  #explorer-button {
    display: flex;
    justify-content: center;
    background-color: $grey-light;
    padding-bottom: 50px;
    text-align: center;

    a {
      background: linear-gradient($secondary, $primary);
      color: white;
      height: 55px;
      width: 220px;
      border-radius: 35px;
      font-size: medium;
      text-decoration: none;
      line-height: 55px;
      box-shadow: 0px 0px 6px 0px #7971773d;
    }

    a:hover {
      box-shadow: 0px 0px 6px 0px #7971773d;
      animation: clearing 0.5s forwards;
      -webkit-animation: clearing 0.5s forwards;
      -o-animation: clearing 0.5s forwards;
    }
  }

  section {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 0px;

    #functioning {
      display: flex;
      flex-direction: column;
      background-color: white;

      h2 {
        margin-bottom: 0px;
        padding-left: 20px;
      }
    }

    #card {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .functioning-card {
      display: block;
      text-align: center;
      height: 70px;
      margin: 20px;
      border-block: 1px solid $grey-light;
      border-radius: 20px;
      background-color: $grey-light;
      position: relative;
      min-width: 260px;
      text-decoration: none;
      color: black;

      .functioning-step {
        background-color: $primary;
        color: white;
        height: 20px;
        width: 20px;
        border-radius: 50px;
        position: absolute;
        left: -10px;
        top: 25px;
        font-size: 14px;
        line-height: 20px;
      }

      .functioning-text {
        font-weight: bold;
        display: flex;
        justify-content: space-evenly;
        height: 100%;
        align-items: center;
        min-width: 290px;

        span {
          width: 180px;
          position: relative;

          i {
            position: absolute;
            left: -25px;
            top: 2px;
          }
        }
      }
    }

    .functioning-card:hover {
      cursor: pointer;
      background-color: #f5edff;
      animation: pulse 1.5s infinite;
      -webkit-animation: pulse 1.5s infinite;
      -o-animation: pulse 1.5s infinite;

      i {
        color: $primary;
      }
    }
  }

  #restaurants {
    display: flex;
    flex-direction: column;
    background-color: $grey-light;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;

    #card-restaurants {
      display: flex;
      flex-direction: column;

      a {
        text-decoration: none;
        color: black;
        margin-bottom: 20px;

        .card {
          color: black;
          display: contents;
          object-fit: cover;
        }
      }

      .card:hover {
        cursor: pointer;
        border-radius: 20px;
        box-shadow: 0px 0px 3px 0px #94939300;
        animation: shadow 0.2s forwards ease-in;
        -webkit-animation: shadow 0.2s forwards ease-in;
        -o-animation: shadow 0.2s forwards ease-in;
      }

      .card-image {
        position: relative;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        background-color: white;

        .new {
          position: absolute;
          top: 12px;
          right: 10px;
          color: #008766;
          background-color: #99e2d0;
          width: 80px;
          height: 25px;
          text-align: center;
          line-height: 25px;
          border-radius: 3px;
          font-size: 13px;
          font-weight: 600;
        }
      }

      img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 100%;
        height: 170px;
        object-fit: cover;
        object-position: bottom;
      }

      .text-card {
        position: relative;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: white;
        font-size: 15px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 20px;

        .restaurants-name {
          font-weight: bold;

          p {
            margin: 0px;
          }
        }

        .material-symbols-outlined {
          position: absolute;
          top: 15px;
          right: 20px;
        }

        .material-symbols-outlined:hover {
          cursor: pointer;
          animation: hover 0.3s forwards ease-in;
          -webkit-animation: hover 0.3s forwards ease-in;
          -o-animation: hover 0.3s forwards ease-in;
        }
      }
    }
  }
}

/*footer*/

footer {
  background-color: $grey-dark;
  color: white;
  padding: 20px;

  h3 {
    font-family: "shrikhand";
    margin-top: 0px;
    font-weight: normal;
  }

  ul {
    padding-left: 0px;
    font-size: small;
  }

  li {
    padding-bottom: 10px;
    font-size: 15px;
    list-style-type: none;

    a {
      text-decoration: none;
      color: white;
    }
  }

  li:hover {
    font-weight: bolder;
  }

  i {
    font-size: 10px;
    width: 18px;
  }
}

// Animations

@keyframes clearing {
  to {
    background: linear-gradient($secondary-light, $primary-light);
    box-shadow: 0px 0px 8px 0px #797177;
  }
}

@keyframes pulse {
  from {
    box-shadow: 0 0 0 5px #f5edff;
  }

  to {
    box-shadow: 0 0 0 10px #00000000;
  }
}

@keyframes hover {
  from {
    background: linear-gradient(283deg, $secondary 0%, $primary 100%);
    background-clip: text;
    color: transparent;
    font-variation-settings: "FILL" 0, "opsz" 48;
  }

  to {
    background: linear-gradient(283deg, $secondary 0%, $primary 100%);
    background-clip: text;
    color: transparent;
    font-variation-settings: "FILL" 1, "opsz" 48;
  }
}

@keyframes shadow {
  to {
    box-shadow: 0px 0px 9px 0px #353535a3;
    color: $primary;
  }
}
