$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$grey: #eaeaea;
$grey-dark: #353535;
$grey-light: #f6f6f6;
$primary-light: #f2e8ff;
$green-dark: #008766;

section {
  background-color: unset;

  #functioning {
    background-color: white;

    #card {
      display: flex;
      flex-direction: row;
      padding: 10px;
      flex-wrap: wrap;
      justify-content: space-around;
      justify-content: space-evenly;
    }
  }
}

section {
  #restaurants {
    #card-restaurants {
      flex-flow: row wrap;
      justify-content: center;

      .card {
        display: flex;
        flex-direction: column;
        margin: 20px;
        text-decoration: none;

        .card-image {
          width: 246px;
        }

        .text-card {
          margin-bottom: unset;
        }
      }
    }
  }
}
